@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #264057;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.panel {
  position: absolute;
  top: -150px;
  left: -150px;
  width: 300px;
  height: 300px;
  background-color: white;
  transition: left 0.5s ease-in-out;
  border-radius: 5px;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
}
.show-dashboard {
  position: absolute;
  left: -10px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: #5f98cd;
  border-radius: 5px 5px 0 0;
}
.title {
  font-size: 15px;
  color: white;
}
.menu {
  position: relative;
  cursor: pointer;
}
.menu:hover .line,
.menu:hover .circle {
  background-color: white;
}
.menu .line {
  width: 30px;
  height: 3px;
  border-radius: 5px;
  margin: 6px;
  background-color: #b2daff;
  transition: background-color 0.3s ease-in-out;
}
.menu .circle {
  position: absolute;
  top: 5px;
  right: 6px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #b2daff;
  box-shadow: 0 0px 0 2px #5f98cd;
  transition: background-color 0.3s ease-in-out;
}

.search-icon {
  color: #b2daff;
  transition: color 0.3s ease-in-out;
}
.search-icon:hover {
  color: #fff;
  cursor: pointer;
}

.search-inp {
  position: absolute;
  padding: 9px;
  border-radius: 20px;
  width: 70%;
  left: 10px;
  border: 1px solid lightgray;
  outline: none;
  visibility: hidden;
  animation: serch-animation-left 0.6s ease-in-out forwards;
}
.no-animation {
  animation: none;
}

.visible {
  opacity: 1;
  visibility: visible;
  animation: serch-animation 0.6s ease-in-out;
}

.note {
  position: relative;
  color: #666;
  font-size: 15px;
  margin: 20px 30px 20px 35px;
}
.note::before {
  position: absolute;
  content: "";
  top: 3px;
  left: -18px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  border: 2px solid #5f98cd;
  background-color: white;
  box-shadow: 0 0 0 2px #fff;
}
.time {
  font-size: 11px;
}
.name {
  font-weight: bold;
}
.notifications {
  position: relative;
  height: 240px;
}
.notifications::before {
  position: absolute;
  height: 100%;
  left: 20px;
  content: " ";
  border-left: 3px solid #ebebeb;
}
.note-wrapp {
  height: 100%;
  overflow-y: auto;
}

.note:hover {
  color: #5f98cd;
  cursor: pointer;
}

.dashboard {
  position: absolute;
  top: -125px;
  left: -150px;
  width: 150px;
  height: 250px;
  background-color: #43627d;
  border-radius: 5px;
  z-index: -1;
  transition: left 0.5s ease-in-out;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
}

.slide-out-dashboard {
  left: -159px;
}

ul {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
}
li {
  padding: 12px 0;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
li span {
  margin: 0 10px;
}
li:hover {
  cursor: pointer;
  color: white;
  background-color: #385269;
}

@keyframes serch-animation {
  from {
    visibility: hidden;
    opacity: 0;
    left: 50px;
  }
  to {
    visibility: visible;
    opacity: 1;
    left: 10px;
  }
}

@keyframes serch-animation-left {
  from {
    visibility: visible;
    opacity: 1;
    left: 10px;
  }
  to {
    opacity: 0;
    left: 50px;
    visibility: hidden;
  }
}
